.stepper {
  display: flex;
  width: 93%;
  height: 10px;
  margin: 13px 0px;
  padding: 0px 10px;
  & .first-step {
    background: #ff4d74;
    width: 17%;
    height: inherit;
    margin-right: 7px;
    & svg {
      color: #ff4d74;
      font-size: 10px;
      margin-left: 100%;
      margin-bottom: 9px;
    }
    & .choosen {
      color: #ff4d74;
      font-size: 10px;
      margin-left: 100%;
      margin-bottom: 9px;
    }
  }
  & .step {
    background: #e4dadd;
    width: 17%;
    margin: 0 7px;
    height: inherit;
    & svg {
      color: #e4dadd;
      font-size: 10px;
      margin-left: 100%;
      margin-bottom: 9px;
    }
    & .choosen {
      color: #ff4d74;
      font-size: 10px;
      margin-left: 100%;
      margin-bottom: 9px;
    }
  }
}
