.human-body {
  width: 149px;
  position: relative;
  padding-top: 96px;
  height: 260px;
  display: block;
  margin: 40px auto;
  transform: scale(0.7);
}

.human-body svg:hover {
  cursor: pointer;
}

.human-body svg:hover path {
  fill: #ff7d16;
}

.human-body svg {
  position: absolute;
  left: 50%;
  fill: #a7a5a2;
}

.human-body svg.head {
  margin-left: -28.5px;
  top: -6px;
}

.human-body svg.shoulder {
  margin-left: -53.5px;
  top: 69px;
}

.human-body svg.arm {
  margin-left: -78px;
  top: 112px;
}

.human-body svg.chest {
  margin-left: -43.5px;
  top: 88px;
}

.human-body svg.stomach {
  margin-left: -37.5px;
  top: 130px;
}

.human-body svg.legs {
  margin-left: -46.5px;
  top: 205px;
  z-index: 9999;
}

.human-body svg.hands {
  margin-left: -102.5px;
  top: 224px;
}

#area {
  display: block;
  width: 100%;
  clear: both;
  bottom: -53px;
  padding: 9px;
  text-align: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #a5a5a5;
}

#area #data {
  color: black;
}
