.slider {
    width: 85vw;
    background-color: #7462e1;
    margin: 0 auto;
    border-radius: 50px;
    cursor: pointer;
    height: 65px; //   box-shadow: 0px 0px 0px #7462e1;
    & .text {
        position: fixed;
        left: 45%;
        top: 47%;
        font-size: 16px;
        color: #e6e6e6;
        line-height: 21px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        transform: translate(-34%, -185%);
    }
    & .slider-circle {
        transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
        width: 64px;
        height: inherit;
        border-radius: 50%;
        background: #ff4d74;
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
            font-size: 34px;
            color: #fdfcfc;
        }
    }
}