.box {
    margin: 0 auto;
    width: 180px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    line-height: 59px;
    margin-top: 84px;
    & .option {
        cursor: pointer;
        transition: all 0.25s linear;
        &:hover {
            background: #c9c8cc;
        }
        &.selected {
            background: #ff7d16;
        }
    }
}